In [2]:
# Import pandas module and setting columns display to max to enable all columns to be viewed

import pandas as pd
pd.set_option('display.max_columns', None)

In [3]:
# Reading the raw csv file ("loan") in

loan = pd.read_csv('loan.csv', low_memory=False)

In [4]:
# Determining the number of rows and columns

loan.shape

(2260668, 145)

In [5]:
# Investigating the different columns in the raw file

loan.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,2500,2500,2500.0,36 months,13.56,84.92,C,C1,Chef,10+ years,RENT,55000.0,Not Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,109xx,NY,18.24,0.0,Apr-2001,1.0,NaN,45.0,9.0,1.0,4341,10.3,34.0,w,2386.02,2386.02,167.02,167.02,113.98,53.04,0.0,0.0,0.0,Feb-2019,84.92,Mar-2019,Feb-2019,0.0,NaN,1,Individual,NaN,NaN,NaN,0.0,0.0,16901.0,2.0,2.0,1.0,2.0,2.0,12560.0,69.0,2.0,7.0,2137.0,28.0,42000.0,1.0,11.0,2.0,9.0,1878.0,34360.0,5.9,0.0,0.0,140.0,212.0,1.0,1.0,0.0,1.0,NaN,2.0,NaN,0.0,2.0,5.0,3.0,3.0,16.0,7.0,18.0,5.0,9.0,0.0,0.0,0.0,3.0,100.0,0.0,1.0,0.0,60124.0,16901.0,36500.0,18124.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,30000,30000,30000.0,60 months,18.94,777.23,D,D2,Postmaster,10+ years,MORTGAGE,90000.0,Source Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,713xx,LA,26.52,0.0,Jun-1987,0.0,71.0,75.0,13.0,1.0,12315,24.2,44.0,w,29387.75,29387.75,1507.11,1507.11,612.25,894.86,0.0,0.0,0.0,Feb-2019,777.23,Mar-2019,Feb-2019,0.0,NaN,1,Individual,NaN,NaN,NaN,0.0,1208.0,321915.0,4.0,4.0,2.0,3.0,3.0,87153.0,88.0,4.0,5.0,998.0,57.0,50800.0,2.0,15.0,2.0,10.0,24763.0,13761.0,8.3,0.0,0.0,163.0,378.0,4.0,3.0,3.0,4.0,NaN,4.0,NaN,0.0,2.0,4.0,4.0,9.0,27.0,8.0,14.0,4.0,13.0,0.0,0.0,0.0,6.0,95.0,0.0,1.0,0.0,372872.0,99468.0,15000.0,94072.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,5000,5000,5000.0,36 months,17.97,180.69,D,D1,Administrative,6 years,MORTGAGE,59280.0,Source Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,490xx,MI,10.51,0.0,Apr-2011,0.0,NaN,NaN,8.0,0.0,4599,19.1,13.0,w,4787.21,4787.21,353.89,353.89,212.79,141.10,0.0,0.0,0.0,Feb-2019,180.69,Mar-2019,Feb-2019,0.0,NaN,1,Individual,NaN,NaN,NaN,0.0,0.0,110299.0,0.0,1.0,0.0,2.0,14.0,7150.0,72.0,0.0,2.0,0.0,35.0,24100.0,1.0,5.0,0.0,4.0,18383.0,13800.0,0.0,0.0,0.0,87.0,92.0,15.0,14.0,2.0,77.0,NaN,14.0,NaN,0.0,0.0,3.0,3.0,3.0,4.0,6.0,7.0,3.0,8.0,0.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,136927.0,11749.0,13800.0,10000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,4000,4000,4000.0,36 months,18.94,146.51,D,D2,IT Supervisor,10+ years,MORTGAGE,92000.0,Source Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,985xx,WA,16.74,0.0,Feb-2006,0.0,NaN,NaN,10.0,0.0,5468,78.1,13.0,w,3831.93,3831.93,286.71,286.71,168.07,118.64,0.0,0.0,0.0,Feb-2019,146.51,Mar-2019,Feb-2019,0.0,NaN,1,Individual,NaN,NaN,NaN,0.0,686.0,305049.0,1.0,5.0,3.0,5.0,5.0,30683.0,68.0,0.0,0.0,3761.0,70.0,7000.0,2.0,4.0,3.0,5.0,30505.0,1239.0,75.2,0.0,0.0,62.0,154.0,64.0,5.0,3.0,64.0,NaN,5.0,NaN,0.0,1.0,2.0,1.0,2.0,7.0,2.0,3.0,2.0,10.0,0.0,0.0,0.0,3.0,100.0,100.0,0.0,0.0,385183.0,36151.0,5000.0,44984.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,30000,30000,30000.0,60 months,16.14,731.78,C,C4,Mechanic,10+ years,MORTGAGE,57250.0,Not Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,212xx,MD,26.35,0.0,Dec-2000,0.0,NaN,NaN,12.0,0.0,829,3.6,26.0,w,29339.02,29339.02,1423.21,1423.21,660.98,762.23,0.0,0.0,0.0,Feb-2019,731.78,Mar-2019,Feb-2019,0.0,NaN,1,Individual,NaN,NaN,NaN,0.0,0.0,116007.0,3.0,5.0,3.0,5.0,4.0,28845.0,89.0,2.0,4.0,516.0,54.0,23100.0,1.0,0.0,0.0,9.0,9667.0,8471.0,8.9,0.0,0.0,53.0,216.0,2.0,2.0,2.0,2.0,NaN,13.0,NaN,0.0,2.0,2.0,3.0,8.0,9.0,6.0,15.0,2.0,12.0,0.0,0.0,0.0,5.0,92.3,0.0,0.0,0.0,157548.0,29674.0,9300.0,32332.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# Given id and member_id are not usable, we need to create a new column of unique numbers to enable us to uniquely identify each borrower in each row.

loan = loan.reset_index()

In [7]:
# Rename 'index' to 'unique_num'
loan = loan.rename(columns = {'index': 'unique_num'})
loan

,unique_num,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,0,NaN,NaN,2500,2500,2500.0,36 months,13.56,84.92,C,C1,Chef,10+ years,RENT,55000.0,Not Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,109xx,NY,18.24,0.0,Apr-2001,1.0,NaN,45.0,9.0,1.0,4341,10.3,34.0,w,2386.02,2386.02,167.020000,167.02,113.98,53.04,0.0,0.0,0.0,Feb-2019,84.92,Mar-2019,Feb-2019,0.0,NaN,1,Individual,NaN,NaN,NaN,0.0,0.0,16901.0,2.0,2.0,1.0,2.0,2.0,12560.0,69.0,2.0,7.0,2137.0,28.0,42000.0,1.0,11.0,2.0,9.0,1878.0,34360.0,5.9,0.0,0.0,140.0,212.0,1.0,1.0,0.0,1.0,NaN,2.0,NaN,0.0,2.0,5.0,3.0,3.0,16.0,7.0,18.0,5.0,9.0,0.0,0.0,0.0,3.0,100.0,0.0,1.0,0.0,60124.0,16901.0,36500.0,18124.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,1,NaN,NaN,30000,30000,30000.0,60 months,18.94,777.23,D,D2,Postmaster,10+ years,MORTGAGE,90000.0,Source Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,713xx,LA,26.52,0.0,Jun-1987,0.0,71.0,75.0,13.0,1.0,12315,24.2,44.0,w,29387.75,29387.75,1507.110000,1507.11,612.25,894.86,0.0,0.0,0.0,Feb-2019,777.23,Mar-2019,Feb-2019,0.0,NaN,1,Individual,NaN,NaN,NaN,0.0,1208.0,321915.0,4.0,4.0,2.0,3.0,3.0,87153.0,88.0,4.0,5.0,998.0,57.0,50800.0,2.0,15.0,2.0,10.0,24763.0,13761.0,8.3,0.0,0.0,163.0,378.0,4.0,3.0,3.0,4.0,NaN,4.0,NaN,0.0,2.0,4.0,4.0,9.0,27.0,8.0,14.0,4.0,13.0,0.0,0.0,0.0,6.0,95.0,0.0,1.0,0.0,372872.0,99468.0,15000.0,94072.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,2,NaN,NaN,5000,5000,5000.0,36 months,17.97,180.69,D,D1,Administrative,6 years,MORTGAGE,59280.0,Source Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,490xx,MI,10.51,0.0,Apr-2011,0.0,NaN,NaN,8.0,0.0,4599,19.1,13.0,w,4787.21,4787.21,353.890000,353.89,212.79,141.10,0.0,0.0,0.0,Feb-2019,180.69,Mar-2019,Feb-2019,0.0,NaN,1,Individual,NaN,NaN,NaN,0.0,0.0,110299.0,0.0,1.0,0.0,2.0,14.0,7150.0,72.0,0.0,2.0,0.0,35.0,24100.0,1.0,5.0,0.0,4.0,18383.0,13800.0,0.0,0.0,0.0,87.0,92.0,15.0,14.0,2.0,77.0,NaN,14.0,NaN,0.0,0.0,3.0,3.0,3.0,4.0,6.0,7.0,3.0,8.0,0.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,136927.0,11749.0,13800.0,10000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,3,NaN,NaN,4000,4000,4000.0,36 months,18.94,146.51,D,D2,IT Supervisor,10+ years,MORTGAGE,92000.0,Source Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,985xx,WA,16.74,0.0,Feb-2006,0.0,NaN,NaN,10.0,0.0,5468,78.1,13.0,w,3831.93,3831.93,286.710000,286.71,168.07,118.64,0.0,0.0,0.0,Feb-2019,146.51,Mar-2019,Feb-2019,0.0,NaN,1,Individual,NaN,NaN,NaN,0.0,686.0,305049.0,1.0,5.0,3.0,5.0,5.0,30683.0,68.0,0.0,0.0,3761.0,70.0,7000.0,2.0,4.0,3.0,5.0,30505.0,1239.0,75.2,0.0,0.0,62.0,154.0,64.0,5.0,3.0,64.0,NaN,5.0,NaN,0.0,1.0,2.0,1.0,2.0,7.0,2.0,3.0,2.0,10.0,0.0,0.0,0.0,3.0,100.0,100.0,0.0,0.0,385183.0,36151.0,5000.0,44984.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,4,NaN,NaN,30000,30000,30000.0,60 months,16.14,731.78,C,C4,Mechanic,10+ years,MORTGAGE,57250.0,Not Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,212xx,MD,26.35,0.0,Dec-2000,0.0,NaN,NaN,12.0,0.0,829,3.6,26.0,w,29339.02,29339.02,1423.210000,1423.21,660.98,762.23,0.0,0.0,0.0,Feb-2019,731.78,Mar-2019,Feb-2019,0.0,NaN,1,Individual,NaN,NaN,NaN,0.0,0.0,116007.0,3.0,5.0,3.0,5.0,4.0,28845.0,89.0,2.0,4.0,516.0,54.0,23100.0,1.0,0.0,0.0,9.0,9667.0,8471.0,8.9,0.0,0.0,53.0,216.0,2.0,2.0,2.0,2.0,NaN,13.0,NaN,0.0,2.0,2.0,3.0,8.0,9.0,6.0,15.0,2.0,12.0,0.0,0.0,0.0,5.0,92.3,0.0,0.0,0.0,157548.0,29674.0,9300.0,32332.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2260663,2260663,NaN,NaN,12000,12000,12000.0,60 months,14.08,279.72,C,C3,house keeper,10+ years,MORTGAGE,58000.0,Not Verified,Oct-2017,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,054xx,VT,20.88,0.0,Jan-2004,0.0,NaN,NaN,12.0,0.0,9592,39.2,34.0,w,8687.20,8687.20,5360.960000,5360.96,3312.80,2048.16,0.0,0.0,0.0,Feb-2019,279.72,Mar-2019,Feb-2019,0.0,NaN,1,Individual,NaN,NaN,NaN,0.0,7921.0,45212.0,2.0,2.0,0.0,1.0,24.0,35620.0,36.0,3.0,4.0,4052.0,38.0,24500.0,2.0,2.0,1.0,5.0,4110.0,1807.0,70.9,0.0,0.0,157.0,164.0,1.0,1.0,2.0,9.0,NaN,9.0,NaN,0.0,2.0,4.0,3.0,9.0,11.0,10.0,21.0,4.0,12.0,0.0,0.0,0.0,3.0,100.0,66.7,0.0,0.0,73948.0,45212.0,6200.0,49448.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2260664,2260664,NaN,NaN,12000,12000,12000.0,60 months,25.82,358.01,E,E4,Skilled Labor,< 1 year,MORTGAGE,30000.0,Not Verified,Oct-2017,Fully Paid,n,NaN,NaN,debt_consolidation,Debt consolidation,971xx,OR,19.28,3.0,Mar-2003,1.0,13.0,NaN,10.0,0.0,3497,20.2,26.0,w,0.00,0.00,14499.802172,14499.80,12000.00,2499.80,0.0,0.0,0.0,Aug-2018,182.74,NaN,Sep-2017,0.0,46.0,1,Joint App,135000.0,7.36,Not Verified,0.0,550.0,346404.0,0.0,1.0,1.0,1.0,8.0,9431.0,78.0,0.0,3.0,2238.0,44.0,17300.0,5.0,1.0,7.0,4.0,34640.0,9162.0,19.6,0.0,0.0,163.0,174.0,16.0,8.0,4.0,141.0,46.0,0.0,17.0,2.0,1.0,4.0,2.0,5.0,4.0,7.0,18.0,4.0,10.0,0.0,0.0,0.0,1.0,76.9,50.0,0.0,0.0,382275.0,12928.0,11400.0,12125.0,13710.0,Apr-2003,1.0,4.0,11.0,71.6,1.0,17.0,0.0,0.0,7.0,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2260665,2260665,NaN,NaN,10000,10000,10000.0,36 months,11.99,332.10,B,B5,Teacher,10+ years,OWN,64000.0,Source Verified,Oct-2017,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,603xx,IL,12.96,0.0,Feb-1995,0.0,NaN,NaN,6.0,0.0,7094,70.9,13.0,w,5993.27,5993.27,5306.940000,5306.94,4006.73,1300.21,0.0,0.0,0.0,Feb-2019,332.10,Mar-2019,Feb-2019,1.0,NaN,1,Individual,NaN,NaN,NaN,0.0,77.0,189735.0,1.0,2.0,1.0,2.0,3.0,29354.0,100.0,0.0,1.0,1864.0,93.0,10000.0,0.0,0.0,3.0,3.0,31623.0,136.0,93.2,0.0,0.0,134.0,271.0,15.0,3.0,3.0,111.0,NaN,3.0,NaN,0.0,1.0,3.0,1.0,2.0,4.0,3.0,6.0,3.0,6.0,0.0,0.0,0.0,1.0,100.0,100.0,0.0,0.0,203417.0,36448.0,2000.0,29317.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2260666,2260666,NaN,NaN,12000,12000,12000.0,60 months,21.45,327.69,D,D5,NaN,NaN,RENT,60000.0,Not Verified,Oct-2017,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,996xx,AK,30.82,2.0,Jul-2003,1.0,7.0,NaN,8.0,0.0,12927,34.9,17.0,w,9924.69,9924.69,5207.290000,5207.29,2075.31,3131.98,0.0,0.0,0.0,Feb-2019,327.69,Mar-2019,Feb-2019,0.0,NaN,1,Individual,NaN,NaN,NaN,0.0,535.0,65238.0,2.0,4.0,2.0,3.0,4.0,52311.0,64.0,1.0,2.0,2406.0,55.0,37000.0,0.0,12.0,4.0,5.0,8155.0,18789.0,14.6,0.0,0.0,170.0,67.0,4.0,4.0,0.0,16.0,9.0,5.0,7.0,0.0,2.0,3.0,2.0,3.0,12.0,4.0,5.0,3.0,8.0,0.0,0.0,0.0,3.0,88.2,0.0,0.0,0.0,118975.0,65238.0,22000.0,81975.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2260667,2260667,NaN,NaN,16550,16550,16550.0,60 months,21.45,451.94,D,D5,BABYSITTER,3 years,RENT,60000.0,Not Verified,Oct-2017,Current,n,NaN,NaN,credit_card,Credit card refinancing,112xx,NY,18.40,0.0,Apr-2014,1.0,NaN,NaN,13.0,0.0,25760,50.8,14.0,w,13541.01,13541.01,7355.500000,7355.50,3008.99,4346.51,0.0,0.0,0.0,Feb-2019,500.00,Mar-2019,Feb-2019,0.0,NaN,1,Individual,NaN,NaN,NaN,0.0,0.0,25760.0,2.0,0.0,0.0,0.0,NaN,0.0,NaN,3.0,8.0,6158.0,51.0,50700.0,0.0,0.0,2.0,8.0,1982.0,9816.0,49.7,0.0,0.0,NaN,41.0,3.0,3.0,0.0,10.0,NaN,0.0,NaN,0.0,5.0,12.0,5.0,5.0,0.0,13.0,14.0,12.0,13.0,0.0,0.0,0.0,3.0,100.0,20.0,0.0,0.0,50700.0,25760.0,19500.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
# Using the data dictionary, the columns which are not useful have been identified and list below under "columns_string"
columns_string = "acc_open_past_24mths,all_util,bc_open_to_buy,bc_util,chargeoff_within_12_mths,collection_recovery_fee,collections_12_mths_ex_med,desc,funded_amnt,funded_amnt_inv,id,il_util,initial_list_status,inq_fi,inq_last_12m,inq_last_6mths,last_credit_pull_d,last_pymnt_amnt,last_pymnt_d,max_bal_bc,member_id,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mths_since_last_major_derog,mths_since_last_record,mths_since_rcnt_il,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,next_pymnt_d,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_op_past_12m,open_acc_6m,open_il_12m,open_il_24m,open_act_il,open_rv_12m,open_rv_24m,out_prncp,out_prncp_inv,pct_tl_nvr_dlq,policy_code,pymnt_plan,recoveries,revol_bal,tax_liens,title,tot_coll_amt,tot_hi_cred_lim,total_bal_il,total_bc_limit,total_cu_tl,total_il_high_credit_limit,total_pymnt,total_pymnt_inv,total_rec_int,total_rec_late_fee,url,verification_status,verification_status_joint,zip_code,sec_app_earliest_cr_line ,sec_app_inq_last_6mths ,sec_app_open_acc ,sec_app_revol_util ,sec_app_open_act_il,sec_app_num_rev_accts ,sec_app_chargeoff_within_12_mths ,sec_app_collections_12_mths_ex_med ,sec_app_mths_since_last_major_derog ,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term"

# The columns_string is split using the ',' delimiter
columns_list = columns_string.split(',')

# Single quotes are added to each string
columns_with_quotes = [f"'{col.strip()}'" for col in columns_list]

# Commas is used as a delimiter to join all strings
new_columns = ','.join(columns_with_quotes)

# Print new_columns
new_columns

"'acc_open_past_24mths','all_util','bc_open_to_buy','bc_util','chargeoff_within_12_mths','collection_recovery_fee','collections_12_mths_ex_med','desc','funded_amnt','funded_amnt_inv','id','il_util','initial_list_status','inq_fi','inq_last_12m','inq_last_6mths','last_credit_pull_d','last_pymnt_amnt','last_pymnt_d','max_bal_bc','member_id','mo_sin_old_il_acct','mo_sin_old_rev_tl_op','mo_sin_rcnt_rev_tl_op','mo_sin_rcnt_tl','mths_since_last_major_derog','mths_since_last_record','mths_since_rcnt_il','mths_since_recent_bc','mths_since_recent_bc_dlq','mths_since_recent_inq','mths_since_recent_revol_delinq','next_pymnt_d','num_actv_bc_tl','num_actv_rev_tl','num_bc_sats','num_bc_tl','num_il_tl','num_op_rev_tl','num_rev_accts','num_rev_tl_bal_gt_0','num_sats','num_tl_120dpd_2m','num_tl_op_past_12m','open_acc_6m','open_il_12m','open_il_24m','open_act_il','open_rv_12m','open_rv_24m','out_prncp','out_prncp_inv','pct_tl_nvr_dlq','policy_code','pymnt_plan','recoveries','revol_bal','tax_liens','title','tot_coll_amt','tot_hi_cred_lim','total_bal_il','total_bc_limit','total_cu_tl','total_il_high_credit_limit','total_pymnt','total_pymnt_inv','total_rec_int','total_rec_late_fee','url','verification_status','verification_status_joint','zip_code','sec_app_earliest_cr_line','sec_app_inq_last_6mths','sec_app_open_acc','sec_app_revol_util','sec_app_open_act_il','sec_app_num_rev_accts','sec_app_chargeoff_within_12_mths','sec_app_collections_12_mths_ex_med','sec_app_mths_since_last_major_derog','hardship_type','hardship_reason','hardship_status','deferral_term','hardship_amount','hardship_start_date','hardship_end_date','payment_plan_start_date','hardship_length','hardship_dpd','hardship_loan_status','orig_projected_additional_accrued_interest','hardship_payoff_balance_amount','hardship_last_payment_amount','disbursement_method','debt_settlement_flag','debt_settlement_flag_date','settlement_status','settlement_date','settlement_amount','settlement_percentage','settlement_term'"

In [9]:
# The result in new_columns is copied and pasted into 'columns_to_drop'
columns_to_drop = ['acc_open_past_24mths','all_util','bc_open_to_buy','bc_util','chargeoff_within_12_mths','collection_recovery_fee','collections_12_mths_ex_med',
                   'desc','funded_amnt','funded_amnt_inv','id','il_util','initial_list_status','inq_fi','inq_last_12m','inq_last_6mths','last_credit_pull_d',
                   'last_pymnt_amnt','last_pymnt_d','max_bal_bc','member_id','mo_sin_old_il_acct','mo_sin_old_rev_tl_op','mo_sin_rcnt_rev_tl_op','mo_sin_rcnt_tl',
                   'mths_since_last_major_derog','mths_since_last_record','mths_since_rcnt_il','mths_since_recent_bc','mths_since_recent_bc_dlq',
                   'mths_since_recent_inq','mths_since_recent_revol_delinq','next_pymnt_d','num_actv_bc_tl','num_actv_rev_tl','num_bc_sats','num_bc_tl','num_il_tl',
                   'num_op_rev_tl','num_rev_accts','num_rev_tl_bal_gt_0','num_sats','num_tl_120dpd_2m','num_tl_op_past_12m','open_acc_6m','open_il_12m','open_il_24m',
                   'open_act_il','open_rv_12m','open_rv_24m','out_prncp','out_prncp_inv','pct_tl_nvr_dlq','policy_code','pymnt_plan','recoveries','revol_bal',
                   'tax_liens','title','tot_coll_amt','tot_hi_cred_lim','total_bal_il','total_bc_limit','total_cu_tl','total_il_high_credit_limit','total_pymnt',
                   'total_pymnt_inv','total_rec_int','total_rec_late_fee','url','verification_status','verification_status_joint','zip_code',
                   'sec_app_earliest_cr_line','sec_app_inq_last_6mths','sec_app_open_acc','sec_app_revol_util','sec_app_open_act_il','sec_app_num_rev_accts',
                   'sec_app_chargeoff_within_12_mths','sec_app_collections_12_mths_ex_med','sec_app_mths_since_last_major_derog','hardship_type',
                   'hardship_reason','hardship_status','deferral_term','hardship_amount','hardship_start_date','hardship_end_date','payment_plan_start_date',
                   'hardship_length','hardship_dpd','hardship_loan_status','orig_projected_additional_accrued_interest','hardship_payoff_balance_amount',
                   'hardship_last_payment_amount','disbursement_method','debt_settlement_flag','debt_settlement_flag_date','settlement_status','settlement_date',
                   'settlement_amount','settlement_percentage','settlement_term']

# The columns are dropped from the original loan file and renamed loan_trunc
loan_trunc = loan.drop(columns_to_drop, axis=1)

In [10]:
# Exporting loan_trunc to csv version as a record
loan_trunc.to_csv('loan_trunc.csv', index=False)

In [11]:
# Using info() to see the number of non-nulls and the type for each column
loan_trunc.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2260668 entries, 0 to 2260667
Data columns (total 42 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   unique_num              2260668 non-null  int64
 1   loan_amnt               2260668 non-null  int64
 2   term                    2260668 non-null  object
 3   int_rate                2260668 non-null  float64
 4   installment             2260668 non-null  float64
 5   grade                   2260668 non-null  object
 6   sub_grade               2260668 non-null  object
 7   emp_title               2093699 non-null  object
 8   emp_length              2113761 non-null  object
 9   home_ownership          2260668 non-null  object
 10  annual_inc              2260664 non-null  float64
 11  issue_d                 2260668 non-null  object
 12  loan_status             2260668 non-null  object
 13  purpose                 2260668 non-null  object
 14  addr_state              2260668 non-null  object
 15  dti                     2258957 non-null  float64
 16  delinq_2yrs             2260639 non-null  float64
 17  earliest_cr_line        2260639 non-null  object
 18  mths_since_last_delinq  1102166 non-null  float64
 19  open_acc                2260639 non-null  float64
 20  pub_rec                 2260639 non-null  float64
 21  revol_util              2258866 non-null  float64
 22  total_acc               2260639 non-null  float64
 23  total_rec_prncp         2260668 non-null  float64
 24  application_type        2260668 non-null  object
 25  annual_inc_joint        120710 non-null   float64
 26  dti_joint               120706 non-null   float64
 27  acc_now_delinq          2260639 non-null  float64
 28  tot_cur_bal             2190392 non-null  float64
 29  total_rev_hi_lim        2190392 non-null  float64
 30  avg_cur_bal             2190322 non-null  float64
 31  delinq_amnt             2260639 non-null  float64
 32  mort_acc                2210638 non-null  float64
 33  num_accts_ever_120_pd   2190392 non-null  float64
 34  num_tl_30dpd            2190392 non-null  float64
 35  num_tl_90g_dpd_24m      2190392 non-null  float64
 36  percent_bc_gt_75        2185289 non-null  float64
 37  pub_rec_bankruptcies    2259303 non-null  float64
 38  total_bal_ex_mort       2210638 non-null  float64
 39  revol_bal_joint         108020 non-null   float64
 40  sec_app_mort_acc        108021 non-null   float64
 41  hardship_flag           2260668 non-null  object
dtypes: float64(27), int64(2), object(13)
memory usage: 724.4+ MB

In [12]:
# Remove the rows that have nulls which prevent effective analysis of data

loan_trunc = loan_trunc.dropna(subset=['emp_title'])
loan_trunc = loan_trunc.dropna(subset=['emp_length'])
loan_trunc = loan_trunc.dropna(subset=['percent_bc_gt_75'])
loan_trunc = loan_trunc.dropna(subset=['num_accts_ever_120_pd'])
loan_trunc = loan_trunc.dropna(subset=['dti'])
loan_trunc = loan_trunc.dropna(subset=['revol_util'])

In [13]:
# To double-check that all rows with nulls have been removed (with some exceptions).
# The remaining rows with nulls are due to valid reasons (e.g. the application is not a joint application, hence there is no joint debt to income ratio, etc.)

loan_trunc.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2004513 entries, 0 to 2260667
Data columns (total 42 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   unique_num              2004513 non-null  int64
 1   loan_amnt               2004513 non-null  int64
 2   term                    2004513 non-null  object
 3   int_rate                2004513 non-null  float64
 4   installment             2004513 non-null  float64
 5   grade                   2004513 non-null  object
 6   sub_grade               2004513 non-null  object
 7   emp_title               2004513 non-null  object
 8   emp_length              2004513 non-null  object
 9   home_ownership          2004513 non-null  object
 10  annual_inc              2004513 non-null  float64
 11  issue_d                 2004513 non-null  object
 12  loan_status             2004513 non-null  object
 13  purpose                 2004513 non-null  object
 14  addr_state              2004513 non-null  object
 15  dti                     2004513 non-null  float64
 16  delinq_2yrs             2004513 non-null  float64
 17  earliest_cr_line        2004513 non-null  object
 18  mths_since_last_delinq  988917 non-null   float64
 19  open_acc                2004513 non-null  float64
 20  pub_rec                 2004513 non-null  float64
 21  revol_util              2004513 non-null  float64
 22  total_acc               2004513 non-null  float64
 23  total_rec_prncp         2004513 non-null  float64
 24  application_type        2004513 non-null  object
 25  annual_inc_joint        99891 non-null    float64
 26  dti_joint               99887 non-null    float64
 27  acc_now_delinq          2004513 non-null  float64
 28  tot_cur_bal             2004513 non-null  float64
 29  total_rev_hi_lim        2004513 non-null  float64
 30  avg_cur_bal             2004513 non-null  float64
 31  delinq_amnt             2004513 non-null  float64
 32  mort_acc                2004513 non-null  float64
 33  num_accts_ever_120_pd   2004513 non-null  float64
 34  num_tl_30dpd            2004513 non-null  float64
 35  num_tl_90g_dpd_24m      2004513 non-null  float64
 36  percent_bc_gt_75        2004513 non-null  float64
 37  pub_rec_bankruptcies    2004513 non-null  float64
 38  total_bal_ex_mort       2004513 non-null  float64
 39  revol_bal_joint         88659 non-null    float64
 40  sec_app_mort_acc        88660 non-null    float64
 41  hardship_flag           2004513 non-null  object
dtypes: float64(27), int64(2), object(13)
memory usage: 657.6+ MB

In [14]:
loan_trunc.home_ownership.unique()

# The home ownership column has 2 responses (i.e. 'ANY', 'NONE') that are not the standard response options given by the bank.

array(['RENT', 'MORTGAGE', 'OWN', 'ANY', 'NONE', 'OTHER'], dtype=object)

In [15]:
# To clean up the 2 responses, we have decided to replace them with "OTHER"

loan_trunc.replace('ANY', 'OTHER', inplace=True)
loan_trunc.replace('NONE', 'OTHER', inplace=True)

In [16]:
loan_trunc.home_ownership.unique()

array(['RENT', 'MORTGAGE', 'OWN', 'OTHER'], dtype=object)

In [17]:
# Checking for the number of nulls within the 'mths_since_last_delinq' column

loan_trunc.mths_since_last_delinq.isnull().sum()

1015596

In [18]:
# Imputing the nulls with 999 as the nulls mean that the borrower has never been delinquent

loan_trunc['mths_since_last_delinq'] = loan_trunc['mths_since_last_delinq'].fillna(999)

In [19]:
loan_trunc['mths_since_last_delinq'].unique()

array([999.,  71.,  32.,   6.,  43.,  38.,   8.,  16.,  24.,  37.,  52.,
        36.,  10.,  57.,  17.,  56.,   4.,  21.,  41.,  42.,  25.,   9.,
        59.,   7.,  45.,  75.,  12.,  61.,  35.,  66.,  51.,  15.,  73.,
        29.,  80.,  39.,  11.,  13.,  55.,  74.,  49.,  60.,  48.,  68.,
        47.,  28.,   2.,  70.,  19.,   1.,  46.,  18.,  34.,  81.,  77.,
        22.,  40.,  33.,  20.,  62.,   5.,  58.,  53.,  30.,  69.,  78.,
       100.,  64.,  63.,  67.,   3.,  72., 108.,  31.,  23.,  65.,  44.,
        26.,  76.,  54.,  14.,  50., 134.,  27., 135.,  79., 113.,  96.,
        84., 107.,  82., 104., 101.,  93., 153., 110.,  83., 106.,  86.,
       111., 130.,  97.,  89.,  95., 124., 119., 117., 120.,  92.,  98.,
        91.,  88., 105., 131.,  87., 109.,  94., 114., 116.,  99., 102.,
       150., 132., 146.,  90.,  85., 122., 128., 136., 115., 118., 141.,
       127.,   0., 103., 160., 121., 125., 123., 162., 133., 126., 145.,
       112., 161., 179., 138., 147., 171., 154., 142., 152., 148., 156.,
       158., 129., 151., 192., 188., 168., 140., 195., 157., 149., 176.,
       170., 137., 178., 139., 143., 159., 202.])

**Overview of the stats for all columns**

In [20]:
loan_trunc.describe()

,unique_num,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,mths_since_last_delinq,open_acc,pub_rec,revol_util,total_acc,total_rec_prncp,annual_inc_joint,dti_joint,acc_now_delinq,tot_cur_bal,total_rev_hi_lim,avg_cur_bal,delinq_amnt,mort_acc,num_accts_ever_120_pd,num_tl_30dpd,num_tl_90g_dpd_24m,percent_bc_gt_75,pub_rec_bankruptcies,total_bal_ex_mort,revol_bal_joint,sec_app_mort_acc
count,2.004513e+06,2.004513e+06,2.004513e+06,2.004513e+06,2.004513e+06,2.004513e+06,2.004513e+06,2.004513e+06,2.004513e+06,2.004513e+06,2.004513e+06,2.004513e+06,2.004513e+06,9.989100e+04,99887.000000,2.004513e+06,2.004513e+06,2.004513e+06,2.004513e+06,2.004513e+06,2.004513e+06,2.004513e+06,2.004513e+06,2.004513e+06,2.004513e+06,2.004513e+06,2.004513e+06,88659.000000,88660.000000
mean,1.112373e+06,1.538086e+04,1.308514e+01,4.546357e+02,8.032871e+04,1.873201e+01,3.152047e-01,5.230987e+02,1.183615e+01,1.974370e-01,5.063967e+01,2.441783e+01,9.513463e+03,1.276512e+05,19.226831,4.353676e-03,1.460393e+05,3.498430e+04,1.367904e+04,1.299867e+01,1.553335e+00,4.981025e-01,2.878505e-03,8.308751e-02,4.267622e+01,1.264098e-01,5.271430e+04,34837.814424,1.552323
std,6.373524e+05,9.231807e+03,4.847024e+00,2.683159e+02,1.171321e+05,1.147164e+01,8.802413e-01,4.825226e+02,5.677901e+00,5.758828e-01,2.448632e+01,1.203113e+01,8.395978e+03,7.112625e+04,7.665495,7.135137e-02,1.621916e+05,3.685942e+04,1.628253e+04,7.471796e+02,1.899876e+00,1.353239e+00,5.675762e-02,4.961306e-01,3.613831e+01,3.635579e-01,5.060561e+04,28183.573878,1.750149
min,0.000000e+00,1.000000e+03,5.310000e+00,4.930000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,2.000000e+00,0.000000e+00,9.000000e+03,0.000000,0.000000e+00,0.000000e+00,1.000000e+02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000
25%,5.666310e+05,8.000000e+03,9.490000e+00,2.597200e+02,4.870000e+04,1.200000e+01,0.000000e+00,3.200000e+01,8.000000e+00,0.000000e+00,3.200000e+01,1.600000e+01,2.987570e+03,8.800000e+04,13.640000,0.000000e+00,3.067500e+04,1.500000e+04,3.193000e+03,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.213100e+04,16095.000000,0.000000
50%,1.108078e+06,1.360000e+04,1.262000e+01,3.871500e+02,6.800000e+04,1.790000e+01,0.000000e+00,9.990000e+02,1.100000e+01,0.000000e+00,5.060000e+01,2.300000e+01,7.000000e+03,1.150000e+05,18.830000,0.000000e+00,8.344600e+04,2.590000e+04,7.562000e+03,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,4.000000e+01,0.000000e+00,3.932700e+04,27806.000000,1.000000
75%,1.648634e+06,2.000000e+04,1.599000e+01,6.039100e+02,9.500000e+04,2.453000e+01,0.000000e+00,9.990000e+02,1.500000e+01,0.000000e+00,6.950000e+01,3.100000e+01,1.400000e+04,1.500000e+05,24.470000,0.000000e+00,2.181150e+05,4.360000e+04,1.900100e+04,0.000000e+00,3.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,7.140000e+01,0.000000e+00,6.633900e+04,45345.500000,3.000000
max,2.260667e+06,4.000000e+04,3.099000e+01,1.719830e+03,1.100000e+08,9.990000e+02,5.800000e+01,9.990000e+02,1.010000e+02,8.600000e+01,3.666000e+02,1.760000e+02,4.000000e+04,7.874821e+06,63.660000,1.400000e+01,9.971659e+06,9.999999e+06,8.000080e+05,2.499250e+05,9.400000e+01,5.800000e+01,4.000000e+00,5.800000e+01,1.000000e+02,1.200000e+01,3.408095e+06,476826.000000,22.000000

In [21]:
# The range for all columns seem acceptable, with only a few columns that seem to have outliers:
# int_rate, dti, delinq_2yrs, mort_acc, num_accts_ever_120_pd, pub_rec

**Investigating outliers**

In [22]:
# int_rate

loan_trunc[loan_trunc.int_rate > 25]

# When filtered to interest rates that are above 25%, there were 44,332 loans. Therefore, the max of 30.99 does not seem to be an error.

,unique_num,loan_amnt,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,issue_d,loan_status,purpose,addr_state,dti,delinq_2yrs,earliest_cr_line,mths_since_last_delinq,open_acc,pub_rec,revol_util,total_acc,total_rec_prncp,application_type,annual_inc_joint,dti_joint,acc_now_delinq,tot_cur_bal,total_rev_hi_lim,avg_cur_bal,delinq_amnt,mort_acc,num_accts_ever_120_pd,num_tl_30dpd,num_tl_90g_dpd_24m,percent_bc_gt_75,pub_rec_bankruptcies,total_bal_ex_mort,revol_bal_joint,sec_app_mort_acc,hardship_flag
24,24,16000,60 months,26.31,481.99,E,E4,Financial Relationship Associate,< 1 year,RENT,33000.0,Dec-2018,Current,credit_card,SC,33.62,0.0,Sep-2010,999.0,17.0,0.0,65.5,22.0,265.26,Individual,NaN,NaN,0.0,29869.0,34900.0,1757.0,0.0,0.0,0.0,0.0,0.0,55.6,0.0,29869.0,NaN,NaN,N
39,39,25000,60 months,27.27,767.43,E,E5,Business Intelligence Engineer,5 years,MORTGAGE,171000.0,Dec-2018,Current,credit_card,WA,14.66,1.0,Dec-1998,10.0,14.0,0.0,75.4,50.0,199.31,Joint App,176000.0,15.42,0.0,588038.0,26000.0,45234.0,0.0,5.0,0.0,0.0,0.0,50.0,0.0,142360.0,19599.0,2.0,N
121,121,16000,36 months,25.34,639.04,E,E3,Operations Manager,2 years,RENT,52000.0,Dec-2018,Current,debt_consolidation,VA,21.26,0.0,Aug-2010,999.0,13.0,0.0,60.4,22.0,608.71,Individual,NaN,NaN,0.0,60727.0,28500.0,4671.0,0.0,0.0,0.0,0.0,0.0,55.6,0.0,60727.0,NaN,NaN,N
178,178,30000,60 months,27.27,920.91,E,E5,Claims Analyst,1 year,RENT,50000.0,Dec-2018,Current,debt_consolidation,AZ,23.62,0.0,Dec-1997,999.0,10.0,0.0,10.7,16.0,483.75,Individual,NaN,NaN,0.0,27364.0,11800.0,2736.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,27364.0,NaN,NaN,N
190,190,16000,60 months,27.27,491.16,E,E5,General Manager,7 years,OWN,88000.0,Dec-2018,Current,debt_consolidation,IN,28.88,0.0,Apr-1999,70.0,6.0,0.0,56.2,20.0,258.02,Individual,NaN,NaN,0.0,25371.0,4900.0,4229.0,0.0,1.0,5.0,0.0,0.0,50.0,0.0,25371.0,NaN,NaN,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2260650,2260650,10000,60 months,28.72,315.72,F,F1,Content Review,1 year,RENT,48000.0,Oct-2017,Fully Paid,small_business,CA,16.08,0.0,Nov-2013,999.0,11.0,0.0,59.0,12.0,10000.00,Individual,NaN,NaN,0.0,35073.0,9000.0,3188.0,0.0,0.0,0.0,0.0,0.0,66.7,0.0,35073.0,NaN,NaN,N
2260655,2260655,18000,60 months,30.65,589.57,F,F4,Package Delivery Driver,10+ years,MORTGAGE,77000.0,Oct-2017,Charged Off,debt_consolidation,TX,8.08,0.0,Sep-2004,38.0,9.0,0.0,45.1,15.0,1110.53,Individual,NaN,NaN,0.0,324621.0,22400.0,36069.0,0.0,1.0,0.0,0.0,0.0,50.0,0.0,18113.0,NaN,NaN,N
2260656,2260656,17950,60 months,30.17,582.62,F,F3,Head Custodian,10+ years,MORTGAGE,53758.0,Oct-2017,Fully Paid,debt_consolidation,IL,33.24,0.0,Dec-2000,999.0,11.0,1.0,35.9,24.0,17950.00,Individual,NaN,NaN,0.0,156247.0,16600.0,15625.0,0.0,3.0,0.0,0.0,0.0,0.0,1.0,36652.0,NaN,NaN,N
2260662,2260662,30000,60 months,30.75,984.47,F,F5,Sales,6 years,MORTGAGE,100000.0,Oct-2017,Current,debt_consolidation,FL,22.13,0.0,Aug-1996,999.0,9.0,0.0,66.9,14.0,4201.22,Individual,NaN,NaN,0.0,174805.0,28700.0,19423.0,0.0,2.0,0.0,0.0,0.0,50.0,0.0,68680.0,NaN,NaN,N
2260664,2260664,12000,60 months,25.82,358.01,E,E4,Skilled Labor,< 1 year,MORTGAGE,30000.0,Oct-2017,Fully Paid,debt_consolidation,OR,19.28,3.0,Mar-2003,13.0,10.0,0.0,20.2,26.0,12000.00,Joint App,135000.0,7.36,0.0,346404.0,17300.0,34640.0,0.0,4.0,2.0,0.0,0.0,50.0,0.0,12928.0,13710.0,4.0,N

In [23]:
# dti

loan_trunc[loan_trunc.dti > 100].dti.describe()

# The debt to income column is unusually high. A dti of 100 would mean that for every $100 of monthly income, the borrower has $100 in debt. As such, it is unlikely that the dti above 100 is accurate.
# The rows with dti above 100 should be removed as they cannot be used in the predictive model.

loan_trunc = loan_trunc[loan_trunc.dti < 100]

In [24]:
# delinq_2yrs

loan_trunc[loan_trunc.delinq_2yrs > 5]

# When filtered to more than 5 delinquencies in the past 2 years, there were more than 8000 borrowers. As such, this is not an error and no further action is required.

,unique_num,loan_amnt,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,issue_d,loan_status,purpose,addr_state,dti,delinq_2yrs,earliest_cr_line,mths_since_last_delinq,open_acc,pub_rec,revol_util,total_acc,total_rec_prncp,application_type,annual_inc_joint,dti_joint,acc_now_delinq,tot_cur_bal,total_rev_hi_lim,avg_cur_bal,delinq_amnt,mort_acc,num_accts_ever_120_pd,num_tl_30dpd,num_tl_90g_dpd_24m,percent_bc_gt_75,pub_rec_bankruptcies,total_bal_ex_mort,revol_bal_joint,sec_app_mort_acc,hardship_flag
54,54,20000,36 months,13.56,679.29,C,C1,Armed Security officer,9 years,MORTGAGE,40000.0,Dec-2018,Current,debt_consolidation,CT,31.02,7.0,Apr-1995,4.0,16.0,0.0,48.0,27.0,911.70,Individual,NaN,NaN,0.0,30051.0,35900.0,1878.0,0.0,1.0,0.0,0.0,0.0,40.0,0.0,30051.0,NaN,NaN,N
348,348,2000,36 months,16.91,71.22,C,C5,teacher,10+ years,MORTGAGE,64600.0,Dec-2018,Current,debt_consolidation,PA,24.82,6.0,Apr-2001,11.0,7.0,0.0,83.5,37.0,86.68,Individual,NaN,NaN,0.0,29094.0,9800.0,4156.0,0.0,1.0,0.0,0.0,2.0,100.0,0.0,29094.0,NaN,NaN,N
1039,1039,15000,36 months,11.31,493.29,B,B3,Employment Program Representative,10+ years,MORTGAGE,57870.0,Dec-2018,Current,credit_card,CA,11.80,8.0,Jul-2006,6.0,10.0,0.0,70.3,30.0,351.92,Individual,NaN,NaN,0.0,181538.0,20200.0,18154.0,0.0,2.0,0.0,0.0,0.0,50.0,0.0,21128.0,NaN,NaN,N
1715,1715,29000,36 months,7.02,895.71,A,A2,Sr Project Manager,< 1 year,RENT,130000.0,Dec-2018,Fully Paid,debt_consolidation,NY,7.51,8.0,Apr-1983,5.0,7.0,0.0,29.7,26.0,29000.00,Individual,NaN,NaN,0.0,234946.0,49100.0,33564.0,0.0,3.0,6.0,0.0,6.0,0.0,0.0,19288.0,NaN,NaN,N
1847,1847,30000,36 months,18.94,1098.78,D,D2,Sales / QC Manager,2 years,MORTGAGE,150000.0,Dec-2018,Current,other,OH,34.81,6.0,Jan-2003,7.0,15.0,0.0,42.1,47.0,1260.43,Individual,NaN,NaN,0.0,305485.0,22900.0,20366.0,0.0,3.0,6.0,0.0,6.0,50.0,0.0,219043.0,NaN,NaN,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2259817,2259817,4800,36 months,16.02,168.81,C,C5,Line cook,< 1 year,RENT,18000.0,Oct-2017,Charged Off,debt_consolidation,FL,23.00,16.0,Oct-2008,21.0,21.0,0.0,35.5,30.0,878.06,Individual,NaN,NaN,0.0,72673.0,20100.0,3461.0,0.0,0.0,0.0,0.0,16.0,0.0,0.0,72673.0,NaN,NaN,N
2260126,2260126,18000,36 months,9.93,580.22,B,B2,Attorney,2 years,MORTGAGE,115696.0,Oct-2017,Fully Paid,home_improvement,TX,11.77,10.0,Jul-2003,3.0,18.0,0.0,5.3,28.0,18000.00,Individual,NaN,NaN,0.0,265469.0,44200.0,14748.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,99372.0,NaN,NaN,N
2260248,2260248,6000,36 months,14.08,205.30,C,C3,Senior Technical Business Analyst,2 years,RENT,98500.0,Oct-2017,Fully Paid,debt_consolidation,TX,22.88,7.0,Dec-2003,18.0,8.0,0.0,10.4,33.0,6000.00,Individual,NaN,NaN,0.0,70273.0,4600.0,8784.0,0.0,0.0,4.0,0.0,4.0,0.0,0.0,70273.0,NaN,NaN,N
2260560,2260560,35000,36 months,19.03,1283.50,D,D3,NURSE SUPERVISOR,3 years,RENT,130000.0,Oct-2017,Current,other,NV,7.87,7.0,Oct-2005,4.0,16.0,0.0,37.1,39.0,13149.67,Individual,NaN,NaN,0.0,9719.0,25200.0,748.0,0.0,0.0,2.0,0.0,3.0,0.0,0.0,9719.0,NaN,NaN,N
2260597,2260597,28000,60 months,30.65,917.11,F,F4,Food Scientist,4 years,RENT,63000.0,Oct-2017,Fully Paid,major_purchase,NJ,6.10,6.0,Aug-2008,7.0,11.0,0.0,13.3,20.0,28000.00,Individual,NaN,NaN,0.0,18970.0,10000.0,1725.0,0.0,0.0,6.0,0.0,6.0,0.0,0.0,18970.0,NaN,NaN,N

In [25]:
# mort_acc

loan_trunc[loan_trunc.mort_acc > 90]

# There is 1 borrower with a total of 94 mortgage accounts. While it might seem like an error that a borrower has more than 90 mortgage accounts, it is noted that there are a total of 4 borrowers with more than 50
# mortgages, and 22 borrowers with more than 30 mortgage accounts. As such, we assume that this was not an error and have decided to keep this in the dataset.

,unique_num,loan_amnt,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,issue_d,loan_status,purpose,addr_state,dti,delinq_2yrs,earliest_cr_line,mths_since_last_delinq,open_acc,pub_rec,revol_util,total_acc,total_rec_prncp,application_type,annual_inc_joint,dti_joint,acc_now_delinq,tot_cur_bal,total_rev_hi_lim,avg_cur_bal,delinq_amnt,mort_acc,num_accts_ever_120_pd,num_tl_30dpd,num_tl_90g_dpd_24m,percent_bc_gt_75,pub_rec_bankruptcies,total_bal_ex_mort,revol_bal_joint,sec_app_mort_acc,hardship_flag
1466314,1466314,35000,36 months,9.44,1120.18,B,B1,Pharmacist,10+ years,MORTGAGE,162000.0,Sep-2017,Current,credit_card,AL,23.33,0.0,Sep-1974,46.0,17.0,0.0,86.7,136.0,15302.82,Individual,NaN,NaN,0.0,215582.0,88000.0,12681.0,0.0,94.0,0.0,0.0,0.0,90.9,0.0,103138.0,NaN,NaN,N

In [26]:
# num_accts_ever_120_pd

loan_trunc[loan_trunc.num_accts_ever_120_pd > 50]

# This does not appear to be an error. The borrowers with more than 50 defaulted accounts have the purpose of 'debt consolidation' - which means they likely have a history of having numerous loans in the past.

,unique_num,loan_amnt,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,issue_d,loan_status,purpose,addr_state,dti,delinq_2yrs,earliest_cr_line,mths_since_last_delinq,open_acc,pub_rec,revol_util,total_acc,total_rec_prncp,application_type,annual_inc_joint,dti_joint,acc_now_delinq,tot_cur_bal,total_rev_hi_lim,avg_cur_bal,delinq_amnt,mort_acc,num_accts_ever_120_pd,num_tl_30dpd,num_tl_90g_dpd_24m,percent_bc_gt_75,pub_rec_bankruptcies,total_bal_ex_mort,revol_bal_joint,sec_app_mort_acc,hardship_flag
168640,168640,9600,36 months,6.11,292.53,A,A1,Teacher,4 years,RENT,45000.0,Aug-2018,Current,debt_consolidation,MI,9.77,58.0,Oct-2003,18.0,10.0,0.0,42.8,96.0,1480.64,Individual,NaN,NaN,0.0,136722.0,18900.0,13672.0,0.0,0.0,58.0,0.0,58.0,0.0,0.0,136722.0,NaN,NaN,N
896631,896631,25600,60 months,15.99,622.41,C,C5,Consultant,9 years,MORTGAGE,75000.0,Nov-2016,Fully Paid,debt_consolidation,FL,22.22,1.0,Jun-1975,9.0,18.0,0.0,44.2,89.0,25600.00,Individual,NaN,NaN,0.0,251153.0,31600.0,15697.0,0.0,4.0,51.0,0.0,0.0,20.0,0.0,133042.0,NaN,NaN,N

In [27]:
# pub_rec

loan_trunc[loan_trunc.pub_rec > 50]

# The outlier of 86 public derogatory records for one person seems to be an error. However, when lowering the filter to 50 records, there appears to be other borrowers with similar records.
# As such, no change is made here.

,unique_num,loan_amnt,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,issue_d,loan_status,purpose,addr_state,dti,delinq_2yrs,earliest_cr_line,mths_since_last_delinq,open_acc,pub_rec,revol_util,total_acc,total_rec_prncp,application_type,annual_inc_joint,dti_joint,acc_now_delinq,tot_cur_bal,total_rev_hi_lim,avg_cur_bal,delinq_amnt,mort_acc,num_accts_ever_120_pd,num_tl_30dpd,num_tl_90g_dpd_24m,percent_bc_gt_75,pub_rec_bankruptcies,total_bal_ex_mort,revol_bal_joint,sec_app_mort_acc,hardship_flag
432690,432690,15000,36 months,17.47,538.31,D,D1,Manager,8 years,MORTGAGE,74000.0,Feb-2018,Current,debt_consolidation,SC,29.44,0.0,Aug-2003,48.0,22.0,52.0,56.4,30.0,4162.05,Individual,NaN,NaN,0.0,128514.0,43000.0,5842.0,0.0,2.0,0.0,0.0,0.0,70.0,0.0,49814.0,NaN,NaN,N
592719,592719,7000,36 months,8.99,222.57,B,B1,Support Staff,5 years,OWN,35000.0,Jul-2016,Charged Off,debt_consolidation,MO,16.36,0.0,Apr-2006,999.0,9.0,61.0,34.8,14.0,4454.96,Individual,NaN,NaN,0.0,18118.0,19400.0,2013.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,18118.0,NaN,NaN,N
998108,998108,6400,36 months,13.18,216.20,C,C3,Teacher,1 year,MORTGAGE,38000.0,Nov-2015,Charged Off,debt_consolidation,OH,32.41,0.0,Dec-1987,40.0,13.0,86.0,78.7,19.0,1212.10,Individual,NaN,NaN,0.0,61402.0,9900.0,4723.0,0.0,0.0,0.0,0.0,0.0,33.3,1.0,61402.0,NaN,NaN,N
1443926,1443926,10000,36 months,13.49,339.31,C,C2,lead scheduler,5 years,MORTGAGE,105000.0,Jan-2017,Current,debt_consolidation,SC,25.76,0.0,Jun-1986,56.0,7.0,61.0,95.2,21.0,6507.76,Individual,NaN,NaN,0.0,60881.0,11800.0,8697.0,0.0,0.0,1.0,0.0,0.0,100.0,0.0,60881.0,NaN,NaN,N
1765970,1765970,10000,36 months,15.31,348.18,C,C2,RE/MAX Preferred,3 years,RENT,38750.0,Jun-2013,Fully Paid,credit_card,WI,21.99,0.0,Jan-1988,999.0,15.0,54.0,43.3,31.0,10000.00,Individual,NaN,NaN,0.0,30978.0,23200.0,2213.0,0.0,2.0,0.0,0.0,0.0,14.3,1.0,30978.0,NaN,NaN,N
2069371,2069371,8000,36 months,12.99,269.52,B,B5,Warranty MGR,9 years,OWN,37000.0,Feb-2014,Fully Paid,home_improvement,IN,3.57,0.0,Nov-1987,999.0,4.0,63.0,27.7,7.0,8000.00,Individual,NaN,NaN,0.0,2185.0,7900.0,728.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2185.0,NaN,NaN,N

In [35]:
# annual_inc

loan_trunc[loan_trunc.annual_inc > 1000000]

# There seems to be an error with the annual income column as the high annual incomes do not correspond with the employment title of the borrower.
# For example, there is a social worker with an annual income of $9 million.

,unique_num,loan_amnt,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,issue_d,loan_status,purpose,addr_state,dti,delinq_2yrs,earliest_cr_line,mths_since_last_delinq,open_acc,pub_rec,revol_util,total_acc,total_rec_prncp,application_type,annual_inc_joint,dti_joint,acc_now_delinq,tot_cur_bal,total_rev_hi_lim,avg_cur_bal,delinq_amnt,mort_acc,num_accts_ever_120_pd,num_tl_30dpd,num_tl_90g_dpd_24m,percent_bc_gt_75,pub_rec_bankruptcies,total_bal_ex_mort,revol_bal_joint,sec_app_mort_acc,hardship_flag
644,644,11000,36 months,8.19,345.67,A,A4,Utility clerk,4 years,MORTGAGE,1120000.0,Dec-2018,Current,credit_card,IN,1.36,0.0,Dec-1995,30.0,8.0,0.0,63.6,17.0,270.60,Individual,NaN,NaN,0.0,156449.0,19700.0,19556.0,0.0,2.0,1.0,0.0,0.0,100.0,0.0,46339.0,NaN,NaN,N
5534,5534,40000,60 months,10.72,864.13,B,B2,CFO Midstream,10+ years,MORTGAGE,1100000.0,Dec-2018,Current,debt_consolidation,NJ,6.54,0.0,May-2002,999.0,17.0,0.0,48.1,26.0,1018.12,Individual,NaN,NaN,0.0,679662.0,522300.0,39980.0,0.0,3.0,0.0,0.0,0.0,33.3,0.0,483617.0,NaN,NaN,N
8766,8766,40000,60 months,10.33,856.40,B,B1,CEO,10+ years,MORTGAGE,1123100.0,Dec-2018,Current,debt_consolidation,PA,8.76,1.0,Jun-1998,16.0,13.0,0.0,15.1,30.0,1028.54,Individual,NaN,NaN,0.0,1698637.0,1213700.0,130664.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,1077617.0,NaN,NaN,N
9030,9030,25000,36 months,6.46,765.77,A,A1,Plumber/Pipefitter,10+ years,MORTGAGE,1350002.0,Dec-2018,Current,debt_consolidation,MI,1.88,0.0,Jun-2006,34.0,10.0,1.0,46.9,19.0,1265.78,Individual,NaN,NaN,0.0,113947.0,42000.0,11395.0,0.0,2.0,1.0,0.0,0.0,40.0,1.0,113947.0,NaN,NaN,N
10665,10665,35000,36 months,14.47,1204.23,C,C2,Director,5 years,RENT,1600000.0,Dec-2018,Current,debt_consolidation,NY,5.16,0.0,Feb-2000,999.0,19.0,0.0,58.0,29.0,1573.81,Individual,NaN,NaN,0.0,427350.0,202600.0,22492.0,0.0,0.0,0.0,0.0,0.0,37.5,0.0,427350.0,NaN,NaN,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2241194,2241194,40000,36 months,7.07,1236.37,A,A2,President,2 years,OWN,1200000.0,Oct-2017,Current,debt_consolidation,PA,11.44,0.0,Mar-1987,28.0,22.0,0.0,54.1,52.0,16738.58,Individual,NaN,NaN,0.0,1314482.0,346300.0,59749.0,0.0,4.0,0.0,0.0,0.0,28.6,0.0,677662.0,NaN,NaN,N
2248573,2248573,40000,36 months,5.32,1204.60,A,A1,Managing Director,5 years,MORTGAGE,1500000.0,Oct-2017,Current,debt_consolidation,CT,13.71,0.0,Feb-1986,33.0,17.0,0.0,17.4,29.0,16994.24,Individual,NaN,NaN,0.0,3728684.0,1827401.0,219334.0,0.0,5.0,0.0,0.0,0.0,60.0,0.0,2698600.0,NaN,NaN,N
2250946,2250946,20000,36 months,7.21,619.47,A,A3,Broker,10+ years,MORTGAGE,1100000.0,Oct-2017,Fully Paid,debt_consolidation,TX,1.61,0.0,Nov-2009,999.0,16.0,0.0,36.1,21.0,20000.00,Individual,NaN,NaN,0.0,321274.0,45900.0,20080.0,0.0,3.0,0.0,0.0,0.0,40.0,0.0,43892.0,NaN,NaN,N
2254273,2254273,40000,36 months,7.07,1236.37,A,A2,airline pilot,10+ years,MORTGAGE,1250000.0,Oct-2017,Current,credit_card,AZ,4.98,0.0,Jul-1992,36.0,15.0,0.0,36.6,34.0,16738.59,Individual,NaN,NaN,0.0,655193.0,89800.0,46800.0,0.0,3.0,2.0,0.0,0.0,33.3,0.0,190719.0,NaN,NaN,N
2254583,2254583,18000,60 months,10.42,386.18,B,B3,Process Engineer,10+ years,MORTGAGE,1032000.0,Oct-2017,Current,debt_consolidation,CA,2.55,1.0,Oct-2001,9.0,41.0,0.0,11.1,75.0,4552.07,Individual,NaN,NaN,0.0,369171.0,272100.0,9466.0,0.0,4.0,0.0,0.0,0.0,3.7,0.0,77238.0,NaN,NaN,N

In [37]:
# As there is no reliable way of verifying the data or fixing it, we have opted to remove all borrowers with income above $1 million.

loan_trunc = loan_trunc[loan_trunc.annual_inc < 1000000]

In [38]:
# Exporting loan_clean to csv version as a record
loan_clean = loan_trunc
loan_clean.to_csv('loan_clean.csv', index=False)